@model Car

<form method="post">
  <div class="mb-3">
    <label asp-for="Code" class="form-label"></label>
    <input type="text" class="form-control" asp-for="Code">
  </div>
  <div class="mb-3">
    <label asp-for="Brand" class="form-label"></label>
    <input type="text" class="form-control" asp-for="Brand">
  </div>
  <div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input type="text" class="form-control" asp-for="Name">
  </div>
   <div class="mb-3">
    <label asp-for="Year" class="form-label"></label>
    <input type="number" class="form-control" asp-for="Year">
  </div>
   <div class="mb-3">
    <label asp-for="Category" class="form-label"></label>
    <textarea class="form-control" asp-for="Category" cols="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>